<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forums</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <h1>Forums</h1>

    {% if latest_forum_list %}
        <ul>
        {% for forum in latest_forum_list %}
            <li><a href="{% url 'forums:detail' forum.id %}">{{ forum.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Forum not found.</p>
    {% endif %}
</body>
</html>







